@import url('https://fonts.googleapis.com/css?family=Source Sans Pro');
* {
    margin: 0;
    padding: 0;
}
//Header :
#header {
    background-color: #61A8BC;
    margin: auto;
    //height: 90vh;
    #nav {
        display: flex;
        position: fixed;
        width: 100%;
        background-color: #61A8BC;
        z-index: 3;
        #logo {
            object-fit: contain;
            height: 145px;
            margin: auto;
            padding: 1.125rem 1rem;
        }
        ul {
            display: flex;
            margin: auto;
        }
        li {
            list-style: none;
            text-align: center;
        }
        li a {
            color: white;
            font-size: 1.5rem;
            font-family: 'Source Sans Pro', sans-serif;
            padding: 1rem;
            display: block;
            text-decoration: none
        }
        li a:hover {
            color: #660000;
        }
        li a:active {
            color: #660000;
        }
    }
    #intro {
        display: flex;
        align-items: flex-end;
        height: 90vh;
        padding-top: 3.125rem;
        #title {
            color: white;
            padding: 3rem 0 3.125rem 5rem;
            font-family: 'Source Sans Pro', sans-serif;
            h1 {
                font-size: 4.063rem;
                margin-bottom: 2rem;
                margin-top: 5rem;
            }
            p {
                font-size: 1.5rem;
                text-align: justify;
                margin: 1.875rem 10rem 1.875rem 0;
            }
            button {
                background-color: #660000;
                margin: 1rem 0 8.063rem 0;
                padding: 0.5rem;
                color: white;
                cursor: pointer;
            }
            button:hover{
                background-color: darkgoldenrod;
            }
        }
        #headerImg {
            width: 398px;
            height: 550px;
            object-fit: cover;
        }
    }
}
//Main :
main {
    section {
        opacity: 0;
    }
    section.visible {
        opacity: 1;
        transition: 2s;
    }
    #section1 {
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
        padding: 11.563rem 5rem;
        background: linear-gradient(180deg, #660000 33.33%, #3B0000 100%);
        color: white;
        img {
            width: 100%;
            height: 185px;
            object-fit: contain;
        }
        h2 {
            padding: 1rem;
            font-size: 4.063rem;
        }
        p {
            margin: 1rem;
            text-align: justify;
            font-size: 1.5rem;
        }
    }
    #section2 {
        font-family: 'Source Sans Pro', sans-serif;
        h2 {
            text-align: center;
            font-size: 4.063rem;
        }
        #img1 {
            text-align: center;
            position: relative;
            #g1 {
                height: 540px;
                width: 44%;
                object-fit: cover;
                z-index: 0;
            }
            #d1 {
                height: 540px;
                width: 55%;
                object-fit: cover;
                z-index: 0;
            }
            #c1 {
                position: absolute;
                bottom: 40%;
                right: 53%;
                z-index: 2;
            }
            #c2 {
                position: absolute;
                bottom: 15%;
                right: 46%;
                z-index: 2;
            }
        }
        #img2 {
            text-align: center;
            position: relative;
            #d2 {
                height: 540px;
                width: 44%;
                object-fit: cover;
                z-index: 0;
            }
            #g2 {
                height: 540px;
                width: 55%;
                object-fit: cover;
                z-index: 0;
            }
            #c3 {
                position: absolute;
                bottom: 40%;
                left: 53%;
                z-index: 2;
            }
            #c4 {
                position: absolute;
                bottom: 10%;
                left: 46%;
                z-index: 2;
            }
        }
    }
}
//Footer :
footer {
    background: #61A8BC;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: space-around;
    #link {
        text-transform: uppercase;
        display: flex;
        color: white;
        h3 {
            font-weight: bolder;
        }
        li {
            list-style: none;
            a {
                display: block;
                text-decoration: none;
                color: white;
            }
            a:hover{
                color: #660000;
            }
        }       
        #aPropos, #encore {
            padding: 2rem;
            font-size: 1.5rem;
        }
    }
    .inte {
        color: white;
        font-size: 1.125rem;
        padding-left: 2rem;
    }
    #news {
        background: #D0E4EB;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.5rem 5rem 0 5rem;
        margin: 2.5rem 5rem 0 0;
        font-size: 1.5rem;
        p {
            color: #660000;
            span {
                font-weight: bold;
            }
        }
        #mail {
            padding: 0.375rem 0.625rem;
            margin: 1.875rem;
        }
        #btn {
            margin-bottom: 2.5rem;
            input {
                background-color: #660000;
                color: white;
                padding: 0.625rem 2.188rem;
                cursor: pointer;
            }
            input:hover{
                background-color: darkgoldenrod;
            }
        }
    }
}
//Bouton retour haut de page :
#scroll {
    position: fixed;
    transform: rotate(-90deg);
    padding: 1rem;
    background-color: #660000;
    opacity: 0.7;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 100%;
    bottom: 2rem;
    right: 2rem;
    display: none;
    cursor: pointer;
}
#scroll.visible {
    display: block;
}

@media screen and (min-width: 768px) and (max-width: 1212px) {
    #header {
        width: 100%;
        #nav ul{
            display: none;
            width: 100%; 
        } 
        #nav ul.visible{
            display: block;  
        } 
        #burger{
            position: absolute;
            top:2.5rem;
            right: 4rem;
            width: 30px;
            height: 30px;
            border-top: solid aliceblue 4px;
            border-bottom: solid aliceblue 4px;
            border-left: transparent;
            border-right: transparent;
            cursor: pointer;
            background-color: transparent;
        }
        #burger::before, #burger::after{
            content: "";
            position: absolute;
            width: 30px;
            transform: translate(-50%,-50%);
            height: 4px;
            background-color: aliceblue;
        }
        #burger.active{
            border: none;
        }
        #burger.active::before{
            transform: translate(-50%,-50%) rotateZ(45deg);        
        }
        #burger.active::after{
            transform: translate(-50%,-50%) rotateZ(-45deg);        
        }    
        #intro{
            height: 100%;
            #title{
                padding: 3rem 1rem 0 5rem;
                h1 {
                    font-size: 3rem;
                }
                p{
                    margin: 1.875rem 2rem 1.875rem 0
                }
                button{
                    margin: 1rem 0;
                }
            }
            #headerImg{
                width: 40%;
                height: 50%;
                margin-top: 8rem;
            }
        } 
    } 
    main #section1 {
        padding: 1.5rem 1rem;
        img{
            width: 100%;
            object-fit: contain;
        } 
    } 
    footer{
        flex-direction: column-reverse;
        #link{
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        #inte{
            text-align: center;
        }
        #news{
            margin: 2.5rem 5rem;
        }
    }   
}

@media screen and (max-width: 768px) {
    #header {
        width: 100%;
        #nav #logo{
            height: 90px;
            width: 30%;
        }
        #nav ul{
            display: none;
            width: 100%; 
        } 
        #nav ul.visible{
            display: block;  
        } 
        #burger{
            position: absolute;
            top:2.5rem;
            right: 4rem;
            width: 30px;
            height: 30px;
            border-top: solid aliceblue 4px;
            border-bottom: solid aliceblue 4px;
            border-left: transparent;
            border-right: transparent;
            cursor: pointer;
            background-color: transparent;
        }
        #burger::before, #burger::after{
            content: "";
            position: absolute;
            width: 30px;
            transform: translate(-50%,-50%);
            height: 4px;
            background-color: aliceblue;
        }
        #burger.active{
            border: none;
        }
        #burger.active::before{
            transform: translate(-50%,-50%) rotateZ(45deg);        
        }
        #burger.active::after{
            transform: translate(-50%,-50%) rotateZ(-45deg);        
        }
        #intro {
            flex-direction: column;
            #title{
                text-align: center;
                padding: 3rem;
                h1{
                    font-size: 2rem;
                }
                p{
                    margin: 0;
                }
                button{
                    margin: 2rem;
                }
            }
            #headerImg{
                position: absolute;
                bottom: 0;
                opacity: 0.1;
            }
        }
    }
    main{
        #section1{
            padding: 1.5rem 1rem;
            img{
                width: 100%;
                object-fit: contain;
            }
            h2{
                font-size: 2rem;
            }
        }
        #section2{
            #img1, #img2{
                display: flex;
                flex-direction: column;
                #g1, #d1, #g2, #d2{
                    width: 100%;
                }
            }
            #img1{
                #c1{
                    bottom: 50%;
                    right: 5%
                }
                #c2{
                    bottom: 0%;
                    right: 50%;
                }
            }
            #img2{
                #c3{
                    bottom: 0;
                    left: 3%;            
                }
                #img2, #c4{
                    bottom: 50%;
                    left: 50%;
                }
            }
        }
    }
    footer{
        flex-direction: column-reverse;
        #link{
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        #inte{
            text-align: center;
        }
        #news{
            margin: 2.5rem 5rem;
        }
    }
}
        
